---
http_interactions:
- request:
    method: get
    uri: http://api.onebusaway.org/api/where/agencies-with-coverage.json?key=TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '1303010287'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1479771676307,"data":{"limitExceeded":false,"list":[{"agencyId":"98","lat":47.647450000000006,"latSpan":0.0630999999999986,"lon":-122.29650000000001,"lonSpan":0.08059999999998979},{"agencyId":"3","lat":47.230847499999996,"latSpan":0.31803900000000596,"lon":-122.41806,"lonSpan":0.4146259999999984},{"agencyId":"97","lat":47.9477555,"latSpan":0.1356090000000023,"lon":-122.2443695,"lonSpan":0.12402300000000821},{"agencyId":"1","lat":47.5607395,"latSpan":0.7432510000000008,"lon":-122.14628200000001,"lonSpan":0.7208940000000013},{"agencyId":"95","lat":47.974607000000006,"latSpan":1.3380679999999998,"lon":-122.85132899999999,"lonSpan":1.0941639999999921},{"agencyId":"KMD","lat":47.556078,"latSpan":0.09027400000000085,"lon":-122.40181749999999,"lonSpan":0.12580899999998962},{"agencyId":"19","lat":47.093462,"latSpan":0.32068999999999903,"lon":-122.70123050000001,"lonSpan":0.5517929999999893},{"agencyId":"40","lat":47.506089,"latSpan":0.9377160000000018,"lon":-122.459957,"lonSpan":0.8821340000000077},{"agencyId":"23","lat":47.6133915,"latSpan":0.02854899999999816,"lon":-122.3263055,"lonSpan":0.024529000000001133},{"agencyId":"99","lat":47.1151495,"latSpan":0.09134900000000101,"lon":-122.554383,"lonSpan":0.14225600000000327},{"agencyId":"29","lat":47.938749,"latSpan":0.6799340000000029,"lon":-121.9928415,"lonSpan":0.7837470000000053}],"references":{"agencies":[{"disclaimer":"","email":"","fareUrl":"","id":"98","lang":"","name":"Seattle
        Children''s Hospital Shuttle","phone":"","privateService":false,"timezone":"America/Los_Angeles","url":"http://www.commutetools.org/"},{"disclaimer":"","email":"","fareUrl":"","id":"3","lang":"EN","name":"Pierce
        Transit","phone":"(253)581-8000","privateService":false,"timezone":"America/Los_Angeles","url":"http://www.piercetransit.org"},{"disclaimer":"","email":"","fareUrl":"","id":"97","lang":"en","name":"Everett
        Transit","phone":"425-257-7777","privateService":false,"timezone":"America/Los_Angeles","url":"http://www.everetttransit.org/"},{"disclaimer":"","email":"","fareUrl":"",[...]
