---
http_interactions:
- request:
    method: get
    uri: http://api.onebusaway.org/api/where/agency/1.json?key=TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '350342784'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1479772668905,"data":{"entry":{"disclaimer":"","email":"","fareUrl":"","id":"1","lang":"EN","name":"Metro
        Transit","phone":"206-553-3000","privateService":false,"timezone":"America/Los_Angeles","url":"http://metro.kingcounty.gov"},"references":{"agencies":[],"routes":[],"situations":[],"stops":[],"trips":[]}},"text":"OK","version":2}'
  recorded_at: Mon, 21 Nov 2016 23:57:49 GMT
recorded_with: VCR 3.0.3
