---
http_interactions:
- request:
    method: get
    uri: http://api.onebusaway.org/api/where/routes-for-agency/1.json?key=TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '109017125'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1479779356556,"data":{"limitExceeded":false,"list":[{"agencyId":"1","color":"","description":"Pacific
        to Algona to Auburn Station","id":"1_100300","longName":"","shortName":"917","textColor":"","type":3,"url":"http://metro.kingcounty.gov/schedules/917/n0.html"},{"agencyId":"1","color":"","description":"Federal
        Way TC/Tukwila International Blvd Link Sta","id":"1_100512","longName":"A-Line
        Rapid Ride","shortName":"A Line","textColor":"","type":3,"url":"http://metro.kingcounty.gov/travel-options/bus/rapidride/a-line/"},{"agencyId":"1","color":"","description":"Alaska
        Junction to Alki to Downtown Seattle","id":"1_100212","longName":"","shortName":"37","textColor":"","type":3,"url"[...]
