---
http_interactions:
- request:
    method: get
    uri: http://api.onebusaway.org/api/where/trips-for-route/1_100300.json?includeSchedules=false&includeStatus=false&key=TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '257777471'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1479780353803,"data":{"limitExceeded":false,"list":[{"frequency":null,"schedule":null,"serviceDate":1479715200000,"situationIds":[],"status":null,"tripId":"1_32233890"}],"outOfRange":false,"references":{"agencies":[{"disclaimer":"","email":"","fareUrl":"","id":"1","lang":"EN","name":"Metro
        Transit","phone":"206-553-3000","privateService":false,"timezone":"America/Los_Angeles","url":"http://metro.kingcounty.gov"}],"routes":[{"agencyId":"1","color":"","description":"Pacific
        to Algona to Auburn Station","id":"1_100300","longName":"","shortName":"917","textColor":"","type":3,"url":"http://metro.kingcounty.gov/schedules/917/n0.html"}],"situations":[],"stops":[],"trips":[{"blockId":"1_4282565","directionId":"1","id":"1_32233890","routeId":"1_100300","routeShortName":"","serviceId":"1_85198","shapeId":"1_10917019","timeZone":"","tripHeadsign":"Auburn
        Station","tripShortName":"LOCAL"}]}},"text":"OK","version":2}'
  recorded_at: Tue, 22 Nov 2016 02:05:53 GMT
recorded_with: VCR 3.0.3
